/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* tema dark */
:root,
:root[ data-theme='light']{

    --cor-fundo: rgba(218, 212, 212, 0.74);
    
    --cor-texto-padrao: black;

    --cor-borda: rgb(194, 188, 188);

    --cor-titulo: 

    --cor-subtitulo: ;

    --cor-texto: black;;

    --cor-menu: rgb(235, 229, 229);

    --cor-link: ; 

    --cor-btn: black;



}

:root[data-theme='dark']{

    --cor-fundo: rgb(24, 23, 23);
    --cor-texto-padrao: white;

    --cor-borda: rgb(231, 227, 227);

    --cor-titulo: 

    --cor-subtitulo: ;

    --cor-texto: white;

    --cor-menu: rgba(24, 23, 23, 0);

    --cor-link: ; 

    --cor-btn: rgb(255, 255, 255);




}

/* Reset do navegador */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    background: var(--cor-fundo);
    color: var(--cor-texto-padrao);

}

a{
    text-decoration: none;
    color: rgb(158, 157, 156);
}

a:hover{
    color: #f4ad50;
    color: var();
}

i{
    color: rgb(132, 132, 132);
}

h1{
    font-size: 40px;
    font-weight: 300;
    font-family: "Inter", serif;
    
}

b{
    font-weight: 600;
   
}

p, span, li{
    font-size: 16px;
}

p{
    text-align: justify;
    font-family: "Montserrat", sans-serif;
}


/* Responsivo */
#header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px px;
    z-index: 2;
}

.trocar-tema{
    display: flex;
    justify-content: flex-end;
}

#trocarTema{
    font-size: 25px;
    color: rgb(199, 144, 71);
    cursor: pointer;
    transition: all;
}

.menu{
    display: flex;
    align-items: center;
    background: transparent;
    gap: 15px;
}

.menu-item{
    width: 100%;
}

.menu-link{
    display: flex;
    align-items: center;
    gap: 9px;
}

.menu-mobile{
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--cor-borda);
}

.menu-mobile .menu-link{
    flex-direction: column;
    justify-content: center;
    padding: 3px 10px;
}

.menu-link.active .menu-icon,
.menu-link.active .menu-text,
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text{
    color: rgb(234, 150, 86);
    font-size: 20px;
}

.menu-icon, 
.menu-text{
    color: rgb(165, 164, 164);
    font-weight: 600;
}

.menu-icon{
    font-size: 18px;
}

.menu-text{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.header-nav{
    display: none;
}

.menu-principal{
    gap: 16px;
}

.menu-social{
   background:  transparent;
   gap: 20px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 18px;
    cursor: pointer;
    /* width: 25%; */
    background: transparent;
    border: none;
    /* color: black; */
}

.btn:hover{
    transform: scale(1.05);
    transition: ease-in-out .3s;
}

.btn span,
.btn i{
    font-size: 16px;
    text-transform: uppercase;
}

.btn-primary{
    border: 1px solid var(--cor-btn);
    border-radius: 15px;
    color: var(--cor-btn);
    
}

#home{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.video iframe{
    width: 100%;
    aspect-ratio: 16/9;
}

#home, .projetos, .sobre, .contato{
    padding: 40px 16px;
}

.projetos{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.projetos-container{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.projeto-card{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.img-card{
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
}

.card-button span{
    color: var(--cor-btn);
}

/* Responsivo */

@media (min-width: 768px){ /* Comprimento até 768 */

    #header{
        position: fixed;
        border-bottom: 1px solid rgb(194, 188, 188);
        padding: 16px 96px;
        background: var(--cor-fundo);
    }

    .nav-mobile{
        display: none;
    }

    .header-nav{
        display: flex;
    }

    .header-nav, .trocar-tema{
        min-width: 30%;
    }

    #home, .projetos, .sobre{
        padding: 90px 96px 64px 96px;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h1{
        font-size: 100px;
    }

} /* fim 768px */

@media (min-width: 992px){

} /* Fim 992 */

@media (min-width: 1200px){
    #home{
        padding: 60px 96px 32px
    }
    .main-content .btn{
        width: auto;
    }
} /* fim 1200 */

@media (min-width: 1400px){
    .header{
        padding: 200px 240px 32px;
    }

    p, span, li{
        font-size: 20px;
    }
    



} /* fim 1400 */